<div class="row">
  <div class="col">
    <shared-search-box placeholder="Busca un heroe"></shared-search-box>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col d-flex justify-content-center mt-5" *ngFor="let heroe of heroes | async">
      <div class="card" style="width: 18rem;">

        <img class="card-img-top" src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" alt="Card image cap">

        <div class="card-body d-flex flex-column justify-content-sm-between">
          <h5 class="card-title">{{heroe.name}}</h5>
          <p class="card-description" *ngIf="heroe.description"> {{heroe.description}} </p>
          <p class="card-description" *ngIf="!heroe.description">No information available  </p>
          <a href="#" class="btn bg-danger text-light">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
